@import url('https://fonts.googleapis.com/css?family=Alex+Brush');



h1, h2, h6 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
  font-weight: 700;
}
h1{
  font-size: 50px;
 }

h2{
  font-size: 40px;
}

h3 {
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #fff;
    font-weight: 700;
}

h4 {
  font-size:  20px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 0px;
}

h5 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top:  15px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

ella {
    font-family: "Alex Brush", cursive;
    font-weight: bold;
    text-align: center;
    font-size: 48px;
    color: rgb(228, 27, 205);
    background-color: rgba(84, 84, 84, 0);
    text-shadow: rgb(0, 0, 0) 2px 2px 2px;
}

header {
  position: 0 !important;
}

.header-area {
  top: 0px !important;
}

.main-nav {
  /* padding: 0px 0px 0px 0px !important; */
}
.dropdown-item1 {
  background-color: RebeccaPurple;
  color: #f4f4f4e5 !important;
  border-radius: 10%;
  margin-bottom: 5px;
}

.nav-tabs{
  border-color: transparent !important;
}
.nav-link1 {
  background-color: RebeccaPurple;
  color:#f4f4f4e5 !important;
  padding-bottom: 10px !important;
  margin-top: 10px !important;
}

.dropdown-menu1 {
  background-color: transparent;
  color: #f4f4f4e5 !important;
}

ul.nav a:hover {
  color: #fff !important;
  background-image: none !important;
  background-color: #9966cc !important;
}

ul.nav li:hover {
  color: #fff !important;
  background-image: none !important;
  background-color: none !important;
}

ul.nav ul:hover {
  color: #fff !important;
  background-image: none !important;
  background-color: transparent !important;
}

.nav-link:focus {
  color: white !important;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}

/* li.nav ul:hover {
  color: #fff !important;
  background-color: green !important;
} */